@model IEnumerable<Garage_2._0.Models.OverviewViewModel>

@{
    ViewData["Title"] = "Overview";
}

<h1>Översikt</h1>

<p>
    <a asp-action="Checkin">Checka in</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkTime)
            </td>
            <td>
               <p>@Html.DisplayFor(modelItem => item.ParkedTime)h</p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Checkout" asp-route-id="@item.Id">Checka ut</a>
            </td>
        </tr>
}
    </tbody>
</table>

