@model StatsViewModel

@{
    ViewData["Title"] = "Stats";
    ViewData["Active"] = "Stats";
}

<h1>Stats</h1>

<div>

    <div class="row">

        <div class="col-6">
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.CarCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.CarCount)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.TruckCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.TruckCount)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.BusCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.BusCount)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.MotorCycleCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.MotorCycleCount)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.BikeCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.BikeCount)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.BoatCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.BoatCount)
                </dd>

                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.TotalWheelCount)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.TotalWheelCount)
                </dd>

                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.TotalGarageIncome)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.TotalGarageIncome)
                </dd>
            </dl>
        </div>
        <div class="col-6">
            <partial name="StatsChartPartial" />
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Tillbaka till garaget</a>
</div>
