@model Garage_2._0.Models.OverviewViewModel

@{
    ViewData["Title"] = "Overview";
}

<h1>Översikt</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrival)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>



